*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  background-color: navy;
}

.navbar{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.navbar *{
  color: white;
}

.nav-links{
  display: flex;
  gap: 48px;
}

li{
  text-decoration: none;
  list-style: none;
}

.container{
  display: flex;
  justify-content: space-between;
}

.hero{
  width: 100%;
  padding: 7vh;
  margin: auto;
  margin-top: 20vh;
}
