*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
}

.navbar{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.nav-links{
  display: flex;
  gap: 48px;
}

li{
  text-decoration: none;
  list-style: none;
}

.container{
  display: flex;
  justify-content: space-between;
}
